{"swagger":"2.0","info":{"description":"Api Documentation","version":"1.0","title":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"servicedbacorp741w.com:8444","basePath":"/ventimetriquadriservice","tags":[{"name":"product-controller","description":"Product Controller"},{"name":"storage-controller","description":"Storage Controller"},{"name":"customers-controller","description":"Customers Controller"},{"name":"suppliers-controller","description":"Suppliers Controller"},{"name":"event-controller","description":"Event Controller"},{"name":"users-controller","description":"Users Controller"},{"name":"branch-controller","description":"Branch Controller"},{"name":"event-expence-controller","description":"Event Expence Controller"}],"paths":{"/api/v1/app/branches/delete":{"delete":{"tags":["branch-controller"],"summary":"delete","operationId":"deleteUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/branches/findall":{"get":{"tags":["branch-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Branch"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/branches/findbyphone":{"get":{"tags":["branch-controller"],"summary":"retrieveByPhone","operationId":"retrieveByPhoneUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"phone","in":"query","description":"phone","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Branch"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/branches/save":{"post":{"tags":["branch-controller"],"summary":"save","operationId":"saveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/branches/update":{"put":{"tags":["branch-controller"],"summary":"update","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/events/delete":{"delete":{"tags":["event-controller"],"summary":"delete","operationId":"deleteUsingDELETE_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"dateEvent","in":"query","required":false,"type":"string"},{"name":"dateCreation","in":"query","required":false,"type":"string"},{"name":"eventStatus","in":"query","required":false,"type":"string","enum":["OPEN","CLOSED"]},{"name":"location","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/events/expences/delete":{"delete":{"tags":["event-expence-controller"],"summary":"delete","operationId":"deleteUsingDELETE_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"event.eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"event.name","in":"query","required":false,"type":"string"},{"name":"event.dateEvent","in":"query","required":false,"type":"string"},{"name":"event.dateCreation","in":"query","required":false,"type":"string"},{"name":"event.eventStatus","in":"query","required":false,"type":"string","enum":["OPEN","CLOSED"]},{"name":"event.location","in":"query","required":false,"type":"string"},{"name":"eventExpenceId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"amount","in":"query","required":false,"type":"number","format":"double"},{"name":"dateIntert","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/events/expences/findall":{"get":{"tags":["event-expence-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_3","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EventExpence"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/events/expences/save":{"post":{"tags":["event-expence-controller"],"summary":"save","operationId":"saveUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"event.eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"event.name","in":"query","required":false,"type":"string"},{"name":"event.dateEvent","in":"query","required":false,"type":"string"},{"name":"event.dateCreation","in":"query","required":false,"type":"string"},{"name":"event.eventStatus","in":"query","required":false,"type":"string","enum":["OPEN","CLOSED"]},{"name":"event.location","in":"query","required":false,"type":"string"},{"name":"eventExpenceId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"amount","in":"query","required":false,"type":"number","format":"double"},{"name":"dateIntert","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/events/expences/update":{"put":{"tags":["event-expence-controller"],"summary":"update","operationId":"updateUsingPUT_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"event.eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"event.name","in":"query","required":false,"type":"string"},{"name":"event.dateEvent","in":"query","required":false,"type":"string"},{"name":"event.dateCreation","in":"query","required":false,"type":"string"},{"name":"event.eventStatus","in":"query","required":false,"type":"string","enum":["OPEN","CLOSED"]},{"name":"event.location","in":"query","required":false,"type":"string"},{"name":"eventExpenceId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"amount","in":"query","required":false,"type":"number","format":"double"},{"name":"dateIntert","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/events/findall":{"get":{"tags":["event-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_2","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Event"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/events/save":{"post":{"tags":["event-controller"],"summary":"save","operationId":"saveUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"dateEvent","in":"query","required":false,"type":"string"},{"name":"dateCreation","in":"query","required":false,"type":"string"},{"name":"eventStatus","in":"query","required":false,"type":"string","enum":["OPEN","CLOSED"]},{"name":"location","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/events/update":{"put":{"tags":["event-controller"],"summary":"update","operationId":"updateUsingPUT_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"dateEvent","in":"query","required":false,"type":"string"},{"name":"dateCreation","in":"query","required":false,"type":"string"},{"name":"eventStatus","in":"query","required":false,"type":"string","enum":["OPEN","CLOSED"]},{"name":"location","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/products/delete":{"delete":{"tags":["product-controller"],"summary":"delete","operationId":"deleteUsingDELETE_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"supplier.supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"supplier.name","in":"query","required":false,"type":"string"},{"name":"supplier.vatNumber","in":"query","required":false,"type":"string"},{"name":"supplier.address","in":"query","required":false,"type":"string"},{"name":"supplier.city","in":"query","required":false,"type":"string"},{"name":"supplier.cap","in":"query","required":false,"type":"string"},{"name":"supplier.phoneNumber","in":"query","required":false,"type":"string"},{"name":"supplier.email","in":"query","required":false,"type":"string"},{"name":"supplier.pec","in":"query","required":false,"type":"string"},{"name":"productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"price","in":"query","required":false,"type":"number","format":"double"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"category","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/products/findall":{"get":{"tags":["product-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_4","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Product"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/products/save":{"post":{"tags":["product-controller"],"summary":"save","operationId":"saveUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"supplier.supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"supplier.name","in":"query","required":false,"type":"string"},{"name":"supplier.vatNumber","in":"query","required":false,"type":"string"},{"name":"supplier.address","in":"query","required":false,"type":"string"},{"name":"supplier.city","in":"query","required":false,"type":"string"},{"name":"supplier.cap","in":"query","required":false,"type":"string"},{"name":"supplier.phoneNumber","in":"query","required":false,"type":"string"},{"name":"supplier.email","in":"query","required":false,"type":"string"},{"name":"supplier.pec","in":"query","required":false,"type":"string"},{"name":"productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"price","in":"query","required":false,"type":"number","format":"double"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"category","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/products/update":{"put":{"tags":["product-controller"],"summary":"update","operationId":"updateUsingPUT_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"supplier.supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"supplier.name","in":"query","required":false,"type":"string"},{"name":"supplier.vatNumber","in":"query","required":false,"type":"string"},{"name":"supplier.address","in":"query","required":false,"type":"string"},{"name":"supplier.city","in":"query","required":false,"type":"string"},{"name":"supplier.cap","in":"query","required":false,"type":"string"},{"name":"supplier.phoneNumber","in":"query","required":false,"type":"string"},{"name":"supplier.email","in":"query","required":false,"type":"string"},{"name":"supplier.pec","in":"query","required":false,"type":"string"},{"name":"productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"price","in":"query","required":false,"type":"number","format":"double"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"category","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/storage/delete":{"delete":{"tags":["storage-controller"],"summary":"delete","operationId":"deleteUsingDELETE_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"creationDate","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/storage/findall":{"get":{"tags":["storage-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_5","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Storage"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/storage/save":{"post":{"tags":["storage-controller"],"summary":"save","operationId":"saveUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"creationDate","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/storage/update":{"put":{"tags":["storage-controller"],"summary":"update","operationId":"updateUsingPUT_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"creationDate","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/suppliers/delete":{"delete":{"tags":["suppliers-controller"],"summary":"delete","operationId":"deleteUsingDELETE_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"pec","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/suppliers/findall":{"get":{"tags":["suppliers-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_6","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Supplier"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/suppliers/findbyphone":{"get":{"tags":["suppliers-controller"],"summary":"retrieveByPhone","operationId":"retrieveByPhoneUsingGET_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"phone","in":"query","description":"phone","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Supplier"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/suppliers/save":{"post":{"tags":["suppliers-controller"],"summary":"save","operationId":"saveUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"pec","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/suppliers/update":{"put":{"tags":["suppliers-controller"],"summary":"update","operationId":"updateUsingPUT_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"pec","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/users/delete":{"delete":{"tags":["users-controller"],"summary":"delete","operationId":"deleteUsingDELETE_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"lastname","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/users/findall":{"get":{"tags":["users-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_7","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserEntity"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/users/save":{"post":{"tags":["users-controller"],"summary":"save","operationId":"saveUsingPOST_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"lastname","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/users/update":{"put":{"tags":["users-controller"],"summary":"update","operationId":"updateUsingPUT_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"lastname","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/customers/delete":{"delete":{"tags":["customers-controller"],"summary":"delete","operationId":"deleteUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"customerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"lastname","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"dob","in":"query","required":false,"type":"string"},{"name":"treatmentPersonalData","in":"query","required":false,"type":"boolean"},{"name":"branch20m2","in":"query","required":false,"type":"string","enum":["CISTERNINO","LOCOROTONDO","MONOPOLI"]},{"name":"accessCounter","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/website/customers/findall":{"get":{"tags":["customers-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Customers"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/customers/findbyphone":{"get":{"tags":["customers-controller"],"summary":"retrieveByPhone","operationId":"retrieveByPhoneUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"phone","in":"query","description":"phone","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Customers"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/customers/save":{"post":{"tags":["customers-controller"],"summary":"save","operationId":"saveUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"customerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"lastname","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"dob","in":"query","required":false,"type":"string"},{"name":"treatmentPersonalData","in":"query","required":false,"type":"boolean"},{"name":"branch20m2","in":"query","required":false,"type":"string","enum":["CISTERNINO","LOCOROTONDO","MONOPOLI"]},{"name":"accessCounter","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/customers/update":{"put":{"tags":["customers-controller"],"summary":"update","operationId":"updateUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"customerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"lastname","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"dob","in":"query","required":false,"type":"string"},{"name":"treatmentPersonalData","in":"query","required":false,"type":"boolean"},{"name":"branch20m2","in":"query","required":false,"type":"string","enum":["CISTERNINO","LOCOROTONDO","MONOPOLI"]},{"name":"accessCounter","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"Storage":{"type":"object","properties":{"address":{"type":"string"},"cap":{"type":"integer","format":"int32"},"city":{"type":"string"},"creationDate":{"type":"string"},"name":{"type":"string"},"storageId":{"type":"integer","format":"int64"}}},"Customers":{"type":"object","properties":{"accessCounter":{"type":"integer","format":"int32"},"branch20m2":{"type":"string","enum":["CISTERNINO","LOCOROTONDO","MONOPOLI"]},"customerId":{"type":"integer","format":"int64"},"dob":{"type":"string"},"email":{"type":"string"},"lastname":{"type":"string"},"name":{"type":"string"},"phoneNumber":{"type":"string"},"treatmentPersonalData":{"type":"boolean"}}},"Branch":{"type":"object","properties":{"address":{"type":"string"},"branchId":{"type":"integer","format":"int64"},"cap":{"type":"string"},"city":{"type":"string"},"email":{"type":"string"},"name":{"type":"string"},"phoneNumber":{"type":"string"},"vatNumber":{"type":"string"}}},"Event":{"type":"object","properties":{"dateCreation":{"type":"string"},"dateEvent":{"type":"string"},"eventId":{"type":"integer","format":"int64"},"eventStatus":{"type":"string","enum":["OPEN","CLOSED"]},"location":{"type":"string"},"name":{"type":"string"}}},"Product":{"type":"object","properties":{"category":{"type":"string"},"description":{"type":"string"},"name":{"type":"string"},"price":{"type":"number","format":"double"},"productId":{"type":"integer","format":"int64"},"supplier":{"$ref":"#/definitions/Supplier"},"unitMeasure":{"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},"vatApplied":{"type":"integer","format":"int32"}}},"Supplier":{"type":"object","properties":{"address":{"type":"string"},"cap":{"type":"string"},"city":{"type":"string"},"email":{"type":"string"},"name":{"type":"string"},"pec":{"type":"string"},"phoneNumber":{"type":"string"},"supplierId":{"type":"integer","format":"int64"},"vatNumber":{"type":"string"}}},"EventExpence":{"type":"object","properties":{"amount":{"type":"number","format":"double"},"dateIntert":{"type":"string"},"description":{"type":"string"},"event":{"$ref":"#/definitions/Event"},"eventExpenceId":{"type":"integer","format":"int64"}}},"UserEntity":{"type":"object","properties":{"email":{"type":"string"},"lastname":{"type":"string"},"name":{"type":"string"},"phoneNumber":{"type":"string"},"userId":{"type":"integer","format":"int64"}}}}}
