{"swagger":"2.0","info":{"description":"Api Documentation","version":"1.0","title":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"servicedbacorp741w.com:8444","basePath":"/ventimetriquadriservice","tags":[{"name":"customer-access-controller","description":"Customer Access Controller"},{"name":"product-controller","description":"Product Controller"},{"name":"workstation-controller","description":"Workstation Controller"},{"name":"storage-controller","description":"Storage Controller"},{"name":"order-controller","description":"Order Controller"},{"name":"suppliers-controller","description":"Suppliers Controller"},{"name":"customer-controller","description":"Customer Controller"},{"name":"whats-app-campain-controller","description":"Whats App Campain Controller"},{"name":"event-controller","description":"Event Controller"},{"name":"users-controller","description":"Users Controller"},{"name":"branch-controller","description":"Branch Controller"}],"paths":{"/api/v1/app/branches/createbranchsupplierrelation":{"put":{"tags":["branch-controller"],"summary":"update","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"branchId","in":"query","description":"branchId","required":true,"type":"integer","format":"int64"},{"name":"supplierId","in":"query","description":"supplierId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/branches/delete":{"delete":{"tags":["branch-controller"],"summary":"delete","operationId":"deleteUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"storages[0].products[0].storageProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storages[0].products[0].productName","in":"query","required":false,"type":"string"},{"name":"storages[0].products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"storages[0].products[0].stock","in":"query","required":false,"type":"number","format":"double"},{"name":"storages[0].products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"storages[0].products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storages[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storages[0].name","in":"query","required":false,"type":"string"},{"name":"storages[0].creationDate","in":"query","required":false,"type":"string"},{"name":"storages[0].address","in":"query","required":false,"type":"string"},{"name":"storages[0].city","in":"query","required":false,"type":"string"},{"name":"storages[0].cap","in":"query","required":false,"type":"string"},{"name":"storages[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].productList[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].productList[0].name","in":"query","required":false,"type":"string"},{"name":"suppliers[0].productList[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"suppliers[0].productList[0].vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"suppliers[0].productList[0].price","in":"query","required":false,"type":"number","format":"double"},{"name":"suppliers[0].productList[0].description","in":"query","required":false,"type":"string"},{"name":"suppliers[0].productList[0].category","in":"query","required":false,"type":"string"},{"name":"suppliers[0].productList[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].name","in":"query","required":false,"type":"string"},{"name":"suppliers[0].vatNumber","in":"query","required":false,"type":"string"},{"name":"suppliers[0].address","in":"query","required":false,"type":"string"},{"name":"suppliers[0].city","in":"query","required":false,"type":"string"},{"name":"suppliers[0].cap","in":"query","required":false,"type":"string"},{"name":"suppliers[0].phoneNumber","in":"query","required":false,"type":"string"},{"name":"suppliers[0].email","in":"query","required":false,"type":"string"},{"name":"suppliers[0].pec","in":"query","required":false,"type":"string"},{"name":"suppliers[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].expenceEvents[0].expenceId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].expenceEvents[0].description","in":"query","required":false,"type":"string"},{"name":"events[0].expenceEvents[0].amount","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].expenceEvents[0].dateIntert","in":"query","required":false,"type":"string"},{"name":"events[0].expenceEvents[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].products[0].workstationProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].products[0].productName","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"events[0].workstations[0].products[0].stockFromStorage","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].workstations[0].products[0].consumed","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].workstations[0].products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].workstations[0].products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].products[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].workstationId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].name","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].responsable","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].extra","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].workstationType","in":"query","required":false,"type":"string","enum":["BAR","CHAMPAGNERIE"]},{"name":"events[0].workstations[0].workstationStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"events[0].workstations[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].name","in":"query","required":false,"type":"string"},{"name":"events[0].dateEvent","in":"query","required":false,"type":"string"},{"name":"events[0].dateCreation","in":"query","required":false,"type":"string"},{"name":"events[0].eventStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"events[0].location","in":"query","required":false,"type":"string"},{"name":"events[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].products[0].orderProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].products[0].productName","in":"query","required":false,"type":"string"},{"name":"orders[0].products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"orders[0].products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].products[0].price","in":"query","required":false,"type":"number","format":"double"},{"name":"orders[0].products[0].amount","in":"query","required":false,"type":"number","format":"double"},{"name":"orders[0].orderId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].code","in":"query","required":false,"type":"string"},{"name":"orders[0].total","in":"query","required":false,"type":"number","format":"double"},{"name":"orders[0].orderStatus","in":"query","required":false,"type":"string","enum":["INVIATO","NON_INVIATO","RICEVUTO","NON_RICEVUTO"]},{"name":"orders[0].errorStatus","in":"query","required":false,"type":"string"},{"name":"orders[0].creationDate","in":"query","required":false,"type":"string"},{"name":"orders[0].senderUser","in":"query","required":false,"type":"string"},{"name":"orders[0].details","in":"query","required":false,"type":"string"},{"name":"orders[0].deliveryDate","in":"query","required":false,"type":"string"},{"name":"orders[0].closedBy","in":"query","required":false,"type":"string"},{"name":"orders[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"token","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/branches/findall":{"get":{"tags":["branch-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Branch"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/branches/retrievesuppliersbybranchid":{"get":{"tags":["branch-controller"],"summary":"retrieveAllSuppliersByBranchId","operationId":"retrieveAllSuppliersByBranchIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"branchid","in":"query","description":"branchid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Supplier"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/branches/save":{"post":{"tags":["branch-controller"],"summary":"save","operationId":"saveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"storages[0].products[0].storageProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storages[0].products[0].productName","in":"query","required":false,"type":"string"},{"name":"storages[0].products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"storages[0].products[0].stock","in":"query","required":false,"type":"number","format":"double"},{"name":"storages[0].products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"storages[0].products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storages[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storages[0].name","in":"query","required":false,"type":"string"},{"name":"storages[0].creationDate","in":"query","required":false,"type":"string"},{"name":"storages[0].address","in":"query","required":false,"type":"string"},{"name":"storages[0].city","in":"query","required":false,"type":"string"},{"name":"storages[0].cap","in":"query","required":false,"type":"string"},{"name":"storages[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].productList[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].productList[0].name","in":"query","required":false,"type":"string"},{"name":"suppliers[0].productList[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"suppliers[0].productList[0].vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"suppliers[0].productList[0].price","in":"query","required":false,"type":"number","format":"double"},{"name":"suppliers[0].productList[0].description","in":"query","required":false,"type":"string"},{"name":"suppliers[0].productList[0].category","in":"query","required":false,"type":"string"},{"name":"suppliers[0].productList[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].name","in":"query","required":false,"type":"string"},{"name":"suppliers[0].vatNumber","in":"query","required":false,"type":"string"},{"name":"suppliers[0].address","in":"query","required":false,"type":"string"},{"name":"suppliers[0].city","in":"query","required":false,"type":"string"},{"name":"suppliers[0].cap","in":"query","required":false,"type":"string"},{"name":"suppliers[0].phoneNumber","in":"query","required":false,"type":"string"},{"name":"suppliers[0].email","in":"query","required":false,"type":"string"},{"name":"suppliers[0].pec","in":"query","required":false,"type":"string"},{"name":"suppliers[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].expenceEvents[0].expenceId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].expenceEvents[0].description","in":"query","required":false,"type":"string"},{"name":"events[0].expenceEvents[0].amount","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].expenceEvents[0].dateIntert","in":"query","required":false,"type":"string"},{"name":"events[0].expenceEvents[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].products[0].workstationProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].products[0].productName","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"events[0].workstations[0].products[0].stockFromStorage","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].workstations[0].products[0].consumed","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].workstations[0].products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].workstations[0].products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].products[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].workstationId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].name","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].responsable","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].extra","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].workstationType","in":"query","required":false,"type":"string","enum":["BAR","CHAMPAGNERIE"]},{"name":"events[0].workstations[0].workstationStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"events[0].workstations[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].name","in":"query","required":false,"type":"string"},{"name":"events[0].dateEvent","in":"query","required":false,"type":"string"},{"name":"events[0].dateCreation","in":"query","required":false,"type":"string"},{"name":"events[0].eventStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"events[0].location","in":"query","required":false,"type":"string"},{"name":"events[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].products[0].orderProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].products[0].productName","in":"query","required":false,"type":"string"},{"name":"orders[0].products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"orders[0].products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].products[0].price","in":"query","required":false,"type":"number","format":"double"},{"name":"orders[0].products[0].amount","in":"query","required":false,"type":"number","format":"double"},{"name":"orders[0].orderId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].code","in":"query","required":false,"type":"string"},{"name":"orders[0].total","in":"query","required":false,"type":"number","format":"double"},{"name":"orders[0].orderStatus","in":"query","required":false,"type":"string","enum":["INVIATO","NON_INVIATO","RICEVUTO","NON_RICEVUTO"]},{"name":"orders[0].errorStatus","in":"query","required":false,"type":"string"},{"name":"orders[0].creationDate","in":"query","required":false,"type":"string"},{"name":"orders[0].senderUser","in":"query","required":false,"type":"string"},{"name":"orders[0].details","in":"query","required":false,"type":"string"},{"name":"orders[0].deliveryDate","in":"query","required":false,"type":"string"},{"name":"orders[0].closedBy","in":"query","required":false,"type":"string"},{"name":"orders[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"token","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/branches/update":{"put":{"tags":["branch-controller"],"summary":"update","operationId":"updateUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"storages[0].products[0].storageProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storages[0].products[0].productName","in":"query","required":false,"type":"string"},{"name":"storages[0].products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"storages[0].products[0].stock","in":"query","required":false,"type":"number","format":"double"},{"name":"storages[0].products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"storages[0].products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storages[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storages[0].name","in":"query","required":false,"type":"string"},{"name":"storages[0].creationDate","in":"query","required":false,"type":"string"},{"name":"storages[0].address","in":"query","required":false,"type":"string"},{"name":"storages[0].city","in":"query","required":false,"type":"string"},{"name":"storages[0].cap","in":"query","required":false,"type":"string"},{"name":"storages[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].productList[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].productList[0].name","in":"query","required":false,"type":"string"},{"name":"suppliers[0].productList[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"suppliers[0].productList[0].vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"suppliers[0].productList[0].price","in":"query","required":false,"type":"number","format":"double"},{"name":"suppliers[0].productList[0].description","in":"query","required":false,"type":"string"},{"name":"suppliers[0].productList[0].category","in":"query","required":false,"type":"string"},{"name":"suppliers[0].productList[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"suppliers[0].name","in":"query","required":false,"type":"string"},{"name":"suppliers[0].vatNumber","in":"query","required":false,"type":"string"},{"name":"suppliers[0].address","in":"query","required":false,"type":"string"},{"name":"suppliers[0].city","in":"query","required":false,"type":"string"},{"name":"suppliers[0].cap","in":"query","required":false,"type":"string"},{"name":"suppliers[0].phoneNumber","in":"query","required":false,"type":"string"},{"name":"suppliers[0].email","in":"query","required":false,"type":"string"},{"name":"suppliers[0].pec","in":"query","required":false,"type":"string"},{"name":"suppliers[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].expenceEvents[0].expenceId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].expenceEvents[0].description","in":"query","required":false,"type":"string"},{"name":"events[0].expenceEvents[0].amount","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].expenceEvents[0].dateIntert","in":"query","required":false,"type":"string"},{"name":"events[0].expenceEvents[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].products[0].workstationProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].products[0].productName","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"events[0].workstations[0].products[0].stockFromStorage","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].workstations[0].products[0].consumed","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].workstations[0].products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"events[0].workstations[0].products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].products[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].workstationId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].workstations[0].name","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].responsable","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].extra","in":"query","required":false,"type":"string"},{"name":"events[0].workstations[0].workstationType","in":"query","required":false,"type":"string","enum":["BAR","CHAMPAGNERIE"]},{"name":"events[0].workstations[0].workstationStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"events[0].workstations[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].name","in":"query","required":false,"type":"string"},{"name":"events[0].dateEvent","in":"query","required":false,"type":"string"},{"name":"events[0].dateCreation","in":"query","required":false,"type":"string"},{"name":"events[0].eventStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"events[0].location","in":"query","required":false,"type":"string"},{"name":"events[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"events[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].products[0].orderProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].products[0].productName","in":"query","required":false,"type":"string"},{"name":"orders[0].products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"orders[0].products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].products[0].price","in":"query","required":false,"type":"number","format":"double"},{"name":"orders[0].products[0].amount","in":"query","required":false,"type":"number","format":"double"},{"name":"orders[0].orderId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].code","in":"query","required":false,"type":"string"},{"name":"orders[0].total","in":"query","required":false,"type":"number","format":"double"},{"name":"orders[0].orderStatus","in":"query","required":false,"type":"string","enum":["INVIATO","NON_INVIATO","RICEVUTO","NON_RICEVUTO"]},{"name":"orders[0].errorStatus","in":"query","required":false,"type":"string"},{"name":"orders[0].creationDate","in":"query","required":false,"type":"string"},{"name":"orders[0].senderUser","in":"query","required":false,"type":"string"},{"name":"orders[0].details","in":"query","required":false,"type":"string"},{"name":"orders[0].deliveryDate","in":"query","required":false,"type":"string"},{"name":"orders[0].closedBy","in":"query","required":false,"type":"string"},{"name":"orders[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orders[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"token","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/event/delete":{"delete":{"tags":["event-controller"],"summary":"delete","operationId":"deleteUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"eventId","in":"query","description":"eventId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/event/expence/create":{"post":{"tags":["event-controller"],"summary":"saveExpence","operationId":"saveExpenceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"expenceId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"amount","in":"query","required":false,"type":"number","format":"double"},{"name":"dateIntert","in":"query","required":false,"type":"string"},{"name":"eventId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExpenceEvent"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/event/expence/delete":{"delete":{"tags":["event-controller"],"summary":"deleteExpence","operationId":"deleteExpenceUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"expenceId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"amount","in":"query","required":false,"type":"number","format":"double"},{"name":"dateIntert","in":"query","required":false,"type":"string"},{"name":"eventId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/event/expence/retrievebyeventid":{"get":{"tags":["event-controller"],"summary":"retrieveAllExpenpencesByEventId","operationId":"retrieveAllExpenpencesByEventIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"eventid","in":"query","description":"eventid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ExpenceEvent"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/event/expence/update":{"put":{"tags":["event-controller"],"summary":"updateExpence","operationId":"updateExpenceUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"expenceId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"amount","in":"query","required":false,"type":"number","format":"double"},{"name":"dateIntert","in":"query","required":false,"type":"string"},{"name":"eventId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/event/findeventbybranchid/closed":{"get":{"tags":["event-controller"],"summary":"retrieveEventsClosedByBranchId","operationId":"retrieveEventsClosedByBranchIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"branchid","in":"query","description":"branchid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Event"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/event/findeventbybranchid/open":{"get":{"tags":["event-controller"],"summary":"retrieveEventsByBranchId","operationId":"retrieveEventsByBranchIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"branchid","in":"query","description":"branchid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Event"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/event/save":{"post":{"tags":["event-controller"],"summary":"save","operationId":"saveUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"expenceEvents[0].expenceId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"expenceEvents[0].description","in":"query","required":false,"type":"string"},{"name":"expenceEvents[0].amount","in":"query","required":false,"type":"number","format":"double"},{"name":"expenceEvents[0].dateIntert","in":"query","required":false,"type":"string"},{"name":"expenceEvents[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstations[0].products[0].workstationProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstations[0].products[0].productName","in":"query","required":false,"type":"string"},{"name":"workstations[0].products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"workstations[0].products[0].stockFromStorage","in":"query","required":false,"type":"number","format":"double"},{"name":"workstations[0].products[0].consumed","in":"query","required":false,"type":"number","format":"double"},{"name":"workstations[0].products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"workstations[0].products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstations[0].products[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstations[0].workstationId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstations[0].name","in":"query","required":false,"type":"string"},{"name":"workstations[0].responsable","in":"query","required":false,"type":"string"},{"name":"workstations[0].extra","in":"query","required":false,"type":"string"},{"name":"workstations[0].workstationType","in":"query","required":false,"type":"string","enum":["BAR","CHAMPAGNERIE"]},{"name":"workstations[0].workstationStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"workstations[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"dateEvent","in":"query","required":false,"type":"string"},{"name":"dateCreation","in":"query","required":false,"type":"string"},{"name":"eventStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"location","in":"query","required":false,"type":"string"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storageId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/event/update":{"put":{"tags":["event-controller"],"summary":"update","operationId":"updateUsingPUT_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"expenceEvents[0].expenceId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"expenceEvents[0].description","in":"query","required":false,"type":"string"},{"name":"expenceEvents[0].amount","in":"query","required":false,"type":"number","format":"double"},{"name":"expenceEvents[0].dateIntert","in":"query","required":false,"type":"string"},{"name":"expenceEvents[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstations[0].products[0].workstationProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstations[0].products[0].productName","in":"query","required":false,"type":"string"},{"name":"workstations[0].products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"workstations[0].products[0].stockFromStorage","in":"query","required":false,"type":"number","format":"double"},{"name":"workstations[0].products[0].consumed","in":"query","required":false,"type":"number","format":"double"},{"name":"workstations[0].products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"workstations[0].products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstations[0].products[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstations[0].workstationId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstations[0].name","in":"query","required":false,"type":"string"},{"name":"workstations[0].responsable","in":"query","required":false,"type":"string"},{"name":"workstations[0].extra","in":"query","required":false,"type":"string"},{"name":"workstations[0].workstationType","in":"query","required":false,"type":"string","enum":["BAR","CHAMPAGNERIE"]},{"name":"workstations[0].workstationStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"workstations[0].eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"eventId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"dateEvent","in":"query","required":false,"type":"string"},{"name":"dateCreation","in":"query","required":false,"type":"string"},{"name":"eventStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"location","in":"query","required":false,"type":"string"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storageId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/event/workstation/addproduct":{"post":{"tags":["event-controller"],"summary":"addProductToWorkstation","operationId":"addProductToWorkstationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"products[0].workstationProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"products[0].productName","in":"query","required":false,"type":"string"},{"name":"products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"products[0].stockFromStorage","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].consumed","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"products[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstationId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"responsable","in":"query","required":false,"type":"string"},{"name":"extra","in":"query","required":false,"type":"string"},{"name":"workstationType","in":"query","required":false,"type":"string","enum":["BAR","CHAMPAGNERIE"]},{"name":"workstationStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"eventId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Workstation"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/event/workstation/create":{"post":{"tags":["event-controller"],"summary":"createWorkstation","operationId":"createWorkstationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"products[0].workstationProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"products[0].productName","in":"query","required":false,"type":"string"},{"name":"products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"products[0].stockFromStorage","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].consumed","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"products[0].storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"workstationId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"responsable","in":"query","required":false,"type":"string"},{"name":"extra","in":"query","required":false,"type":"string"},{"name":"workstationType","in":"query","required":false,"type":"string","enum":["BAR","CHAMPAGNERIE"]},{"name":"workstationStatus","in":"query","required":false,"type":"string","enum":["APERTO","CHIUSO"]},{"name":"eventId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Workstation"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/order/send":{"post":{"tags":["order-controller"],"summary":"sendOrder","operationId":"sendOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"products[0].orderProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"products[0].productName","in":"query","required":false,"type":"string"},{"name":"products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"products[0].price","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].amount","in":"query","required":false,"type":"number","format":"double"},{"name":"orderId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"code","in":"query","required":false,"type":"string"},{"name":"total","in":"query","required":false,"type":"number","format":"double"},{"name":"orderStatus","in":"query","required":false,"type":"string","enum":["INVIATO","NON_INVIATO","RICEVUTO","NON_RICEVUTO"]},{"name":"errorStatus","in":"query","required":false,"type":"string"},{"name":"creationDate","in":"query","required":false,"type":"string"},{"name":"senderUser","in":"query","required":false,"type":"string"},{"name":"details","in":"query","required":false,"type":"string"},{"name":"deliveryDate","in":"query","required":false,"type":"string"},{"name":"closedBy","in":"query","required":false,"type":"string"},{"name":"supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storageId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/products/delete":{"delete":{"tags":["product-controller"],"summary":"delete","operationId":"deleteUsingDELETE_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"price","in":"query","required":false,"type":"number","format":"double"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"category","in":"query","required":false,"type":"string"},{"name":"supplierId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/products/findall":{"get":{"tags":["product-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_3","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Product"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/products/retrievebysupplier":{"get":{"tags":["product-controller"],"summary":"retrieveProductsBySupplierId","operationId":"retrieveProductsBySupplierIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"supplierId","in":"query","description":"supplierId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Product"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/products/save":{"post":{"tags":["product-controller"],"summary":"save","operationId":"saveUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"price","in":"query","required":false,"type":"number","format":"double"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"category","in":"query","required":false,"type":"string"},{"name":"supplierId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/products/update":{"put":{"tags":["product-controller"],"summary":"update","operationId":"updateUsingPUT_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"price","in":"query","required":false,"type":"number","format":"double"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"category","in":"query","required":false,"type":"string"},{"name":"supplierId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/storage":{"delete":{"tags":["storage-controller"],"summary":"deleteProductFromStorage","operationId":"deleteProductFromStorageUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"storageId","in":"query","description":"storageId","required":true,"type":"integer","format":"int64"},{"name":"productId","in":"query","description":"productId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/storage/delete":{"delete":{"tags":["storage-controller"],"summary":"delete","operationId":"deleteUsingDELETE_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"products[0].storageProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"products[0].productName","in":"query","required":false,"type":"string"},{"name":"products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"products[0].stock","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"creationDate","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/storage/findstoragebybranchid":{"get":{"tags":["storage-controller"],"summary":"findStorageByBranchId","operationId":"findStorageByBranchIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"branchid","in":"query","description":"branchid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Storage"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/storage/insertproduct":{"get":{"tags":["storage-controller"],"summary":"save","operationId":"saveUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"storageId","in":"query","description":"storageId","required":true,"type":"integer","format":"int64"},{"name":"productId","in":"query","description":"productId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/storage/save":{"post":{"tags":["storage-controller"],"summary":"save","operationId":"saveUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"products[0].storageProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"products[0].productName","in":"query","required":false,"type":"string"},{"name":"products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"products[0].stock","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"creationDate","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Storage"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/storage/update":{"put":{"tags":["storage-controller"],"summary":"update","operationId":"updateUsingPUT_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"products[0].storageProductId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"products[0].productName","in":"query","required":false,"type":"string"},{"name":"products[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"products[0].stock","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].amountHundred","in":"query","required":false,"type":"number","format":"double"},{"name":"products[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"storageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"creationDate","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/suppliers/delete":{"delete":{"tags":["suppliers-controller"],"summary":"delete","operationId":"deleteUsingDELETE_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productList[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"productList[0].name","in":"query","required":false,"type":"string"},{"name":"productList[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"productList[0].vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"productList[0].price","in":"query","required":false,"type":"number","format":"double"},{"name":"productList[0].description","in":"query","required":false,"type":"string"},{"name":"productList[0].category","in":"query","required":false,"type":"string"},{"name":"productList[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"pec","in":"query","required":false,"type":"string"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/suppliers/findall":{"get":{"tags":["suppliers-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_4","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Supplier"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/suppliers/findbyphone":{"get":{"tags":["suppliers-controller"],"summary":"retrieveByPhone","operationId":"retrieveByPhoneUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"phone","in":"query","description":"phone","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Supplier"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/suppliers/save":{"post":{"tags":["suppliers-controller"],"summary":"save","operationId":"saveUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productList[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"productList[0].name","in":"query","required":false,"type":"string"},{"name":"productList[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"productList[0].vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"productList[0].price","in":"query","required":false,"type":"number","format":"double"},{"name":"productList[0].description","in":"query","required":false,"type":"string"},{"name":"productList[0].category","in":"query","required":false,"type":"string"},{"name":"productList[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"pec","in":"query","required":false,"type":"string"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Supplier"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/suppliers/update":{"put":{"tags":["suppliers-controller"],"summary":"update","operationId":"updateUsingPUT_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"productList[0].productId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"productList[0].name","in":"query","required":false,"type":"string"},{"name":"productList[0].unitMeasure","in":"query","required":false,"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},{"name":"productList[0].vatApplied","in":"query","required":false,"type":"integer","format":"int32"},{"name":"productList[0].price","in":"query","required":false,"type":"number","format":"double"},{"name":"productList[0].description","in":"query","required":false,"type":"string"},{"name":"productList[0].category","in":"query","required":false,"type":"string"},{"name":"productList[0].supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"supplierId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"vatNumber","in":"query","required":false,"type":"string"},{"name":"address","in":"query","required":false,"type":"string"},{"name":"city","in":"query","required":false,"type":"string"},{"name":"cap","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"pec","in":"query","required":false,"type":"string"},{"name":"branchId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/users/delete":{"delete":{"tags":["users-controller"],"summary":"delete","operationId":"deleteUsingDELETE_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"lastname","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phone","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/app/users/findAllBranchesByUserId":{"get":{"tags":["users-controller"],"summary":"retrieveAllBranchesByUserId","operationId":"retrieveAllBranchesByUserIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Branch"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/users/findall":{"get":{"tags":["users-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_5","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserEntity"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/users/findbyemail":{"get":{"tags":["users-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"email","in":"query","description":"email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/users/save":{"post":{"tags":["users-controller"],"summary":"save","operationId":"saveUsingPOST_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"lastname","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phone","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/users/update":{"put":{"tags":["users-controller"],"summary":"update","operationId":"updateUsingPUT_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"lastname","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phone","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/workstation/insertproduct":{"get":{"tags":["workstation-controller"],"summary":"insertProductIntoStorage","operationId":"insertProductIntoStorageUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"workstationId","in":"query","description":"workstationId","required":true,"type":"integer","format":"int64"},{"name":"productId","in":"query","description":"productId","required":true,"type":"integer","format":"int64"},{"name":"storageId","in":"query","description":"storageId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app/workstation/removeproduct":{"delete":{"tags":["workstation-controller"],"summary":"removeProductIntoStorage","operationId":"removeProductIntoStorageUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"workstationProductId","in":"query","description":"workstationProductId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/website/customeraccess/delete":{"delete":{"tags":["customer-access-controller"],"summary":"deleteById","operationId":"deleteByIdUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"customerId","in":"query","description":"customerId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/website/customeraccess/findall":{"get":{"tags":["customer-access-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerAccess"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/customeraccess/findbycustomerid":{"get":{"tags":["customer-access-controller"],"summary":"retrieveByCustomerId","operationId":"retrieveByCustomerIdUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"customerId","in":"query","description":"customerId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerAccess"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/customeraccess/save":{"post":{"tags":["customer-access-controller"],"summary":"save","operationId":"saveUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"customerAccessId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"accessDate","in":"query","required":false,"type":"string"},{"name":"branchLocation","in":"query","required":false,"type":"string","enum":["CISTERNINO","LOCOROTONDO","MONOPOLI"]},{"name":"customerId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/customers/delete":{"delete":{"tags":["customer-controller"],"summary":"deleteById","operationId":"deleteByIdUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"customerId","in":"query","description":"customerId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/website/customers/findall":{"get":{"tags":["customer-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET_2","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Customer"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/customers/findallbydate":{"get":{"tags":["customer-controller"],"summary":"retrieveAllByDate","operationId":"retrieveAllByDateUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"date","in":"query","description":"date","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Customer"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/customers/findbyphone":{"get":{"tags":["customer-controller"],"summary":"retrieveByPhone","operationId":"retrieveByPhoneUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"phone","in":"query","description":"phone","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Customer"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/customers/save":{"post":{"tags":["customer-controller"],"summary":"save","operationId":"saveUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accessesList[0].customerAccessId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"accessesList[0].accessDate","in":"query","required":false,"type":"string"},{"name":"accessesList[0].branchLocation","in":"query","required":false,"type":"string","enum":["CISTERNINO","LOCOROTONDO","MONOPOLI"]},{"name":"accessesList[0].customerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"customerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"lastname","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phone","in":"query","required":false,"type":"string"},{"name":"dob","in":"query","required":false,"type":"string"},{"name":"treatmentPersonalData","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/customers/update":{"put":{"tags":["customer-controller"],"summary":"update","operationId":"updateUsingPUT_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accessesList[0].customerAccessId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"accessesList[0].accessDate","in":"query","required":false,"type":"string"},{"name":"accessesList[0].branchLocation","in":"query","required":false,"type":"string","enum":["CISTERNINO","LOCOROTONDO","MONOPOLI"]},{"name":"accessesList[0].customerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"customerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"lastname","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phone","in":"query","required":false,"type":"string"},{"name":"dob","in":"query","required":false,"type":"string"},{"name":"treatmentPersonalData","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/website/whatsapp/startcampain":{"post":{"tags":["whats-app-campain-controller"],"summary":"save","operationId":"saveUsingPOST_8","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"numbers","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"wsCampainId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"message","in":"query","required":false,"type":"string"},{"name":"date","in":"query","required":false,"type":"string"},{"name":"errors","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"R_OrderProduct":{"type":"object","properties":{"amount":{"type":"number","format":"double"},"orderProductId":{"type":"integer","format":"int64"},"price":{"type":"number","format":"double"},"productId":{"type":"integer","format":"int64"},"productName":{"type":"string"},"unitMeasure":{"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]}}},"R_WorkstationProduct":{"type":"object","properties":{"amountHundred":{"type":"number","format":"double"},"consumed":{"type":"number","format":"double"},"productId":{"type":"integer","format":"int64"},"productName":{"type":"string"},"stockFromStorage":{"type":"number","format":"double"},"storageId":{"type":"integer","format":"int64"},"unitMeasure":{"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},"workstationProductId":{"type":"integer","format":"int64"}}},"CustomerAccess":{"type":"object","properties":{"accessDate":{"type":"string"},"branchLocation":{"type":"string","enum":["CISTERNINO","LOCOROTONDO","MONOPOLI"]}}},"R_StorageProduct":{"type":"object","properties":{"amountHundred":{"type":"number","format":"double"},"available":{"type":"boolean"},"productId":{"type":"integer","format":"int64"},"productName":{"type":"string"},"stock":{"type":"number","format":"double"},"storageProductId":{"type":"integer","format":"int64"},"unitMeasure":{"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]}}},"Customer":{"type":"object","properties":{"accessesList":{"type":"array","items":{"$ref":"#/definitions/CustomerAccess"}},"customerId":{"type":"integer","format":"int64"},"dob":{"type":"string"},"email":{"type":"string"},"lastname":{"type":"string"},"name":{"type":"string"},"phone":{"type":"string"},"treatmentPersonalData":{"type":"boolean"}}},"Product":{"type":"object","properties":{"category":{"type":"string"},"description":{"type":"string"},"name":{"type":"string"},"price":{"type":"number","format":"double"},"productId":{"type":"integer","format":"int64"},"unitMeasure":{"type":"string","enum":["PACCHI","UNITA","KG","LITRI","CARTONI"]},"vatApplied":{"type":"integer","format":"int32"}}},"UserEntity":{"type":"object","properties":{"email":{"type":"string"},"lastname":{"type":"string"},"name":{"type":"string"},"phone":{"type":"string"},"userId":{"type":"integer","format":"int64"}}},"ExpenceEvent":{"type":"object","properties":{"amount":{"type":"number","format":"double"},"dateIntert":{"type":"string"},"description":{"type":"string"},"expenceId":{"type":"integer","format":"int64"}}},"Workstation":{"type":"object","properties":{"extra":{"type":"string"},"name":{"type":"string"},"products":{"type":"array","items":{"$ref":"#/definitions/R_WorkstationProduct"}},"responsable":{"type":"string"},"workstationId":{"type":"integer","format":"int64"},"workstationStatus":{"type":"string","enum":["APERTO","CHIUSO"]},"workstationType":{"type":"string","enum":["BAR","CHAMPAGNERIE"]}}},"OrderEntity":{"type":"object","properties":{"branchId":{"type":"integer","format":"int64"},"closedBy":{"type":"string"},"code":{"type":"string"},"creationDate":{"type":"string"},"deliveryDate":{"type":"string"},"details":{"type":"string"},"errorStatus":{"type":"string"},"orderId":{"type":"integer","format":"int64"},"orderStatus":{"type":"string","enum":["INVIATO","NON_INVIATO","RICEVUTO","NON_RICEVUTO"]},"paid":{"type":"boolean"},"products":{"type":"array","items":{"$ref":"#/definitions/R_OrderProduct"}},"senderUser":{"type":"string"},"storageId":{"type":"integer","format":"int64"},"supplierId":{"type":"integer","format":"int64"},"total":{"type":"number","format":"double"}}},"Storage":{"type":"object","properties":{"address":{"type":"string"},"branchId":{"type":"integer","format":"int64"},"cap":{"type":"string"},"city":{"type":"string"},"creationDate":{"type":"string"},"name":{"type":"string"},"products":{"type":"array","items":{"$ref":"#/definitions/R_StorageProduct"}},"storageId":{"type":"integer","format":"int64"}}},"Branch":{"type":"object","properties":{"address":{"type":"string"},"branchId":{"type":"integer","format":"int64"},"cap":{"type":"string"},"city":{"type":"string"},"email":{"type":"string"},"events":{"type":"array","items":{"$ref":"#/definitions/Event"}},"name":{"type":"string"},"orders":{"type":"array","items":{"$ref":"#/definitions/OrderEntity"}},"phoneNumber":{"type":"string"},"storages":{"type":"array","items":{"$ref":"#/definitions/Storage"}},"suppliers":{"type":"array","items":{"$ref":"#/definitions/Supplier"}},"token":{"type":"string"},"userId":{"type":"integer","format":"int64"},"vatNumber":{"type":"string"}}},"Event":{"type":"object","properties":{"branchId":{"type":"integer","format":"int64"},"dateCreation":{"type":"string"},"dateEvent":{"type":"string"},"eventId":{"type":"integer","format":"int64"},"eventStatus":{"type":"string","enum":["APERTO","CHIUSO"]},"expenceEvents":{"type":"array","items":{"$ref":"#/definitions/ExpenceEvent"}},"location":{"type":"string"},"name":{"type":"string"},"storageId":{"type":"integer","format":"int64"},"workstations":{"type":"array","items":{"$ref":"#/definitions/Workstation"}}}},"Supplier":{"type":"object","properties":{"address":{"type":"string"},"branchId":{"type":"integer","format":"int64"},"cap":{"type":"string"},"city":{"type":"string"},"email":{"type":"string"},"name":{"type":"string"},"pec":{"type":"string"},"phoneNumber":{"type":"string"},"productList":{"type":"array","items":{"$ref":"#/definitions/Product"}},"supplierId":{"type":"integer","format":"int64"},"vatNumber":{"type":"string"}}}}}
