{"swagger":"2.0","info":{"description":"Api Documentation","version":"1.0","title":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"servicedbacorp741w.com:8444","basePath":"/ventimetriquadriservice","tags":[{"name":"user-controller","description":"User Controller"}],"paths":{"/api/v1/user/delete":{"delete":{"tags":["user-controller"],"summary":"delete","operationId":"deleteUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"dob","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/user/findall":{"get":{"tags":["user-controller"],"summary":"retrieveAll","operationId":"retrieveAllUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/User20m2"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/user/save":{"post":{"tags":["user-controller"],"summary":"save","operationId":"saveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"dob","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/user/update":{"put":{"tags":["user-controller"],"summary":"update","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"dob","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"User20m2":{"type":"object","properties":{"dob":{"type":"string"},"email":{"type":"string"},"name":{"type":"string"},"phoneNumber":{"type":"string"},"userId":{"type":"integer","format":"int64"}}}}}
